{% extends "blog/base.html" %}

{% block content %}
<a href="/blog/">Go home</a><br><hr>
<h6>Hello, my name is Stephan!</h6>
<p>
    16 лет, гражданство Россия.
Вологда
<br>
Опыт работы<br>
Общий рабочий стаж — 5 лет
<br>
Торговля техникой и атрибутами из Китая:<br>
<br>
— Переправлял товар из китая<br>
— Общался с покупателями<br>
— Торговал носимой электроникой ( Xiaomi, Meizu, )<br>
— Имел оборот до 20000 тысяч р.<br>
<br>
Качества:
<br>
- Трудолюбие<br>
- Желание работать<br>
- Большой опыт общения с клиентами<br>
- Отличное знание носимой электроники и их характеристик ( Xiaomi, Meizu, Apple, Oppo, Vivo, Samsung)<br>
<br>
Образование
—Красный диплом<br>
—Среднее образование<br>
<br>
Курсы и тренинг<br>
—Курсы математики<br>
—Обучение языкам программирования и верстки страниц ( html, css, python)<br>
<br>
Навыки и умения<br>
Иностранные языки<br>
Английский (высокий уровень).<br>
Профессиональные навыки<br>
— отличное знание рынка компьютерной техники, оргтехники и расходных материалов;<br>
— умение работать с возражениями, навыки управления мотивацией клиента;<br>
— умение составить грамотное коммерческое предложение;<br>
— навыки ведения деловых переговоров с первыми лицами компании, грамотная речь;<br>
<br>
Дополнительные сведения<br>
Коммуникабельность, стрессоустойчивость и нацеленность на результат.<br>
</p>
<h6>If you want to contact me: send email on adress:<h5>golubevstaphan@gmail.com</h5></h6>
{% endblock %}